header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
  background: rgb(0, 0, 0);
}
header a {
  color: #d0e1d0;
}

.header-post {
  background-color: black;
  color: white;
  padding: 5px 15px;
  margin-top: 10px;
}

.content-post {
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 10px;
}

.background-body {
  background-color: lightpink;
}
.posted-by {
  font-size: x-small;
}

.modal-header {
  background-color: rgb(0, 0, 0);
  color: #ccc;

}

.modal-body {
  background-color: lightpink;
}

.new-post-button {
  background-color: black;
  font-size: xx-large;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  cursor: pointer;
}
.btn-link {
  font-size:30px;
}
.btn.btn-primary {
  background-color: #2d3e50;
  color: #d9e9e8;
  margin: inherit;
}

.title{
font-size: large;
font-family: TrebuchetMS, sans-serif;
font-weight: bold;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #d0e1d0;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #d0e1d0;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
